<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PlaywrightTestSuite" parallel="classes" thread-count="3">
    <listeners>
        <listener class-name="exp.listeners.PlaywrightPageInjector"/>
        <listener class-name="exp.listeners.PlaywrightTestFactory"/>
    </listeners>
    <test name="HomePage Tests" parallel="classes" thread-count="3">
        <classes>
            <class name="exp.tests.HomePageTest"/>
            <!-- Добавьте другие тестовые классы здесь -->
        </classes>
    </test>
</suite>